*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mingzat', sans-serif;
}
body{
    margin: 0px 150px 0px 150px;
    padding: 0;
    height: 100vh;
}
#banner{
    padding: 15px 0px 15px 0px;
}
nav{
    display: flex;
    background-color: #FFA000;
    justify-content: center;
}
nav ul{
    list-style: none;
}

nav ul li a{
    color: #ffff;
    text-decoration: none;
}
nav ul {
    display: flex;
}
nav ul li{
    font-size: 20;
    font-weight: 700;
    padding: 7px 30px 7px 30px;
}
header{
    display: flex;
    background-color: #FFC107;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 0px 10px black;
}
footer{
    display: flex;
    background-color: #FFC107;
    justify-content: left;
    align-items: center;
    color: #fff;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
}
footer .p-footer{
   left: 400px;
   align-items: center;
}
.box {
    padding: 10px;
    height: 100%;
}
.container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,1fr);
  grid-template-areas: 
  'box-1 box-1 box-2';
  position: relative;
}

.box-1{
    width: 592px;
    grid-area: box-1;
    margin-top: 50px;
}
.box-2{
    grid-area: box-2;
    margin-top: 100px;
}
p{
    line-height: 24.38px;
}
.box h2{
    color: #FFA000;
    margin-bottom: 20px;
}
.box h3{
    margin-top: 0px;
    text-align: left;
    padding-bottom: 20px;
    color: #FFA000;
}
.container-img-box-2{
    font-weight: 700;
    text-align: center;
    padding: 10px;
    width: 315px;
   
}
.container-img-box-2 p {
    width: 345px;
    margin-bottom: 20px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}
.box-1 p{
    margin-top: 20px;
    margin-bottom:20px
}
.box-1 .descricao{
    display: flex;
}
.box-1 .descricao p{
    box-sizing: border-box;
    border: 1px solid #176902;
    border-radius: 47px;
    margin-right: 20px;
    color: #176902;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    padding-left: 20px;
    padding-right: 20px;
}
iframe{
    padding-bottom: 20px;
}

.wrapper{
    margin:auto;
    justify-content: center;
    max-width: 1400px;
}
.receitas-title{
    padding-top: 100px;
    color: #FFA000;
    margin-left: 60px;
 }
.container-receitas{
    margin:auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    max-width: 1400px;
    grid-gap: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.card-item {
   /* background-color: #bdbdbd;
    border:  1px solid black;*/
    text-align: center;    
    padding: 30px;
}
.container-receitas .card-item img{
    padding-bottom: 10px;
    width: 345px;
    height: 342px;
}
.container-receitas .card-item .card-item-name{
    padding-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: lowercase;
}
.container-receitas .card-item .check-button{
    width: 185px;
    height: 48px;
    background-color: #176902;
    border: none;
}
.container-receitas .card-item .check-button a{
    text-decoration: none;
    color: white;
}
.index-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    'box-top box-top box-top'
    'box-center box-center box-center'
    'box-bottom box-bottom box-bottom';
    position: relative;
  }
  .box-index{
    background-color: #bdbdbd;
    border:  1px solid black;
  }
  .box-top{
    grid-area: box-top;
    width: 100%;
    height: 638.18px;
    background: linear-gradient(0deg, rgba(255, 193, 7, 0.4),
     rgba(255, 193, 7, 0.4)), 
    url(../img/banner_1.jpeg);
    position: absolute;
  }

  .box-center{
    margin: 50px;
    grid-area: box-center;
    text-align: center;
  }
  .box-center img{
    padding: 30px;
    width: 345px;
    height: 342px;

  }
  .box-bottom{
    grid-area: box-bottom;

  }
  .box-bottom img{
    width: 100%;
    height: 638.18px;
    background: linear-gradient(0deg, rgba(255, 193, 7, 0.4),
     rgba(255, 193, 7, 0.4)), 
    url(public/img/banner_1.jpeg);
  }
